<div class="container mt-3">
    <h2>Product List</h2>
    <form (ngSubmit)="searchBySlug()" class="row g-3 mb-3 align-items-center">
        <div class="col-auto">
            <label for="slug-search" class="visually-hidden">Search by slug</label>
            <input type="text" class="form-control" id="slug-search" [(ngModel)]="searchSlug" name="searchSlug"
                placeholder="Enter product slug">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-info">Search by Slug</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-secondary" (click)="resetSearch()">Reset</button>
        </div>
    </form>
    <a routerLink="/create" class="btn btn-primary mb-2">Create Product</a>

    @for (product of products; track product.id) {
    <div class="card mb-2">
        <div class="card-body">
            <h5>{{ product.title }} - ${{ product.price }}</h5>
            <p>{{ product.description }}</p>
            <a [routerLink]="['/products', product.id]" class="btn btn-info btn-sm">Details</a>
            <a [routerLink]="['/edit', product.id]" class="btn btn-warning btn-sm mx-1">Edit</a>
            <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.id)">Delete</button>
             <button class="btn btn-success btn-sm" (click)="addToCart(product)">Add to Cart</button>
        </div>
    </div>
    }
</div>