<div class="container mt-3">
    <button class="btn btn-secondary mb-3" (click)="goBack()">← Back</button>
    <h2>{{ isEdit ? 'Edit' : 'Create' }} Product</h2>
    <form (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label>Title</label>
            <input type="text" class="form-control" [(ngModel)]="product.title" name="title" required>
        </div>
        <div class="mb-3">
            <label>Price</label>
            <input type="number" class="form-control" [(ngModel)]="product.price" name="price" required>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <textarea class="form-control" [(ngModel)]="product.description" name="description" required></textarea>
        </div>
        <div class="mb-3">
            <label>Category ID</label>
            <input type="number" class="form-control" [(ngModel)]="product.categoryId" name="categoryId" required>
        </div>
        <div class="mb-3">
            <label>Image URL</label>
            <input type="text" class="form-control" [(ngModel)]="product.images[0]" name="image" required>
        </div>
        <button class="btn btn-success" type="submit">{{ isEdit ? 'Update' : 'Create' }}</button>
    </form>
</div>